.Input,
.Output {
  border: 2px solid grey;
  width: 30%;
  text-align: center;
  margin: auto;
  margin-bottom: 20px;
  border-radius: 5px;
  background-color: bisque;
  margin-top: 20px;
}

body {
  background-color: rgb(68, 65, 63);
}
button {
  margin-top: 20px;
}
